@CHARSET "ISO-8859-1";

#imagestyle
{
width:137px;
height:88px;
}
#marg
{
margin-top:220px;
}
#margn
{
margin-top:-22px;
margin-right:59px;
}

#fit
{
width:50px;
height:60px;
font-size:large;
}
.bg
{
background-image:url('flower.jpg');
background-size:1332px;

}
.labelstyle
{
width:31px;
height:30px;
margin-left:23px;
}
.clear
{clear:both;
}
.spaces20
{margin-top:20px;
}
.sliderimage
{
width:1326px !important; 
height:406px !important;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
/* #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
*/


.watchListImage {
    width: 247px;
    height: 213px;
}

.collectionStyle {
    margin-top: 24px !important;
    margin-bottom: 42px !important;
    fontsize:36px;
}
/*.footermargin {
    margin: 1000px -141px;
    background: #0b0d10;
}*/
.thead-inverse th {
    color: #fff !important;
    background-color: #292b2c !important;
}
.productimage
{
	height: 376px;
    width: 501px;
}
#ruppee
{
	font-size:x-large;
}
#productimgMT
{
	margin-top: 107px;
}
.productname
{
	font-size: x-large;
}
.productdes
{
	font-style: italic;
    font-size: medium;
    color: #920909;
}
.stckclr
{
    color: green;
}
.btn-primary {
    color: #fff;
    background-color: #5d6369 !important;
   
    border-color: #010e1b !important;
}
.btn-cntu
{
	
   color: #101010 !important;
    background-color: rgb(175, 168, 168) !important;
    border-color: #151414 !important;
}
.btn-plc
{
	    color: rgba(23, 1, 1, 0.97) !important;
    background-color: rgb(175, 168, 168) !important;
    border-color: #151414 !important;
}

option:hover
{
	background-color:red !important;
}
/* footer styles*/

.footer {
  position: absolute;
  bottom: -270px;
  width: 100%;
  height: 150px;
  background-color: #111;
  text-align: center;
}

.container{
  margin-top: 50px;
  
  width: 100%;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 250px;
}


.error
{
	color: #CA0101 !important;
}

.titlemargin
{
	margin-left:350px;
}

#thead-inversestyle
{
font-variant-caps: all-petite-caps;
 font-family: initial;
}
#table-sm table-inversestyle
{
width:849px; 
height:259px; 
overflow:auto;
}
#pencilstyle
{
	color:black;
}
#table-inverseproduct
{
width:850px; height:341px; overflow:auto;
}
<!-- acknowledgement -->
.thankyou
{
	width: 679px !important;
	height: 531px !important;
}
<!-- add categorybsupplier product -->
.addtop
{
margin-top:87px;
}
.addstyle
{
	margin-left: 147px;
}

<!-- cart -->
.cartleft
{
	margin-left:363px;
}
#cartimage
{
	height: 50px;
}
.carttable
{
	width:849px; height:350px; overflow:auto;
}
.cartproductimg
{
	height:40px;width:40px;
}
#placeorder
{
	font-family: -webkit-pictograph;    margin-top: -119px; !important;
}
#continueshop
{
	margin-left: 80px;font-family: -webkit-pictograph;    margin-top: -119px !important;
}
#count-mycart
{
	position: absolute;
    color: gold;
    background-color: black;
}
.checked {
    color: orange;
}


.clear
{
	clear: both;
}
.shiftLeft
{
	float: left;
}
.shiftRight
{
	float: right;
}
.top5
{
	margin-top: 5px;
}
.top10
{
	margin-top: 10px;
}
.top15
{
	margin-top: 15px;
}
.top20
{
	margin-top: 20px;
}
.top25
{
	margin-top: 25px;
}
.top30
{
	margin-top: 30px;
}
.top35
{
	margin-top: 35px;
}
.top40
{
	margin-top: 40px;
}
.bottom5
{
	margin-bottom: 5px;
}
.bottom10
{
	margin-bottom: 10px;
}
.bottom15
{
	margin-bottom: 15px;
}
.bottom20
{
	margin-bottom: 20px;
}
.bottom25
{
	margin-bottom: 25px;
}
.bottom30
{
	margin-bottom: 30px;
}
.bottom35
{
	margin-bottom: 35px;
}
.bottom40
{
	margin-bottom: 40px;
}
.left40
{
	margin-left: 40px;
}
.left25
{
	margin-left: 25px;
}
.font18
{
	font-size:18px;
}
.errorStyle
{
	color: #CA0101 !important;
	margin-bottom: 10px;
}
.successStyle
{
	color: #D259A1 !important;
	margin-bottom: 10px;
}
.navbar
{
	border-radius: 0px !important;
	height: 80px !important;
    padding-top: 10px !important;
}
.navbar-inverse .navbar-nav>li>a 
{
    color: #D259A1 !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.logoImg
{
	width:120px !important; 
	height:60px !important;
}
.footerBackground
{
	background-color: #000000 !important;
}
.footerContent 
{
    color: rgba(202, 56, 142, 0.59) !important;
    font-size: 16px;
    font-weight: bold;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
 #social-fb1:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 #basicViewStyle
 {
 	min-height: 563px;
 }
.table>tbody>tr.tableHead>th
{
	background-color: rgba(202, 56, 142, 0.59) !important;
}
.table>tbody>tr.tableContent>td
{
	background-color: rgba(224, 138, 189, 0.57) !important;
}
.bannerImageStyle
{
	width: 1550px !important;
    height: 350px !important;
}
.jobImageStyle
{
	width:200px;
}
.iconStyle
{
	width:20px;
	height:20px;
}
.cursorp
{
	cursor: pointer;
}
.alignCenter
{
	text-align:center !important;
}
.jobListContent
{
	background-color: #f19bcd5e !important;
	border-radius: 10px !important;
}
.glyphiconStyle
{
	color: #D259A1 !important;
    font-size: 20px;
}
.jobTitle
{
	color: #D259A1 !important;
    font-size: 20px;
    font-weight: bold;
}
.jobContentTitle
{
	font-size: 20px;
}
.jobContent
{
	font-size: 15px;
}
.hyperlinkStyle
{
	color: #D259A1 !important;
	font-weight:bold;
}
.likedStyle
{
	color: #D259A1 !important;
	font-weight: bold !important;
    font-size: 18px !important;
}
.unlikedStyle
{
	color: #000000 !important;
	font-weight: bold !important;
    font-size: 18px !important;
}
.notificationStyle
{
	position: absolute;
	top: 0px;
	right: 10px;
	padding: 0px 3px 0px 3px;
	background-color: #FF0000;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10px;
	border-radius: 10px;
}
.NotViewedNotificationStyle
{
	color: #000000 !important;
}
.ViewedNotificationStyle
{
	color: #D259A1 !important;
}
.friendImageStyle
{
	width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profilePictureStyle
{
	width: 50px;
    height: 58px;
    border-radius: 50%;
}
.horizontalBar
{
	margin-top: 3px !important;
    margin-bottom: 3px !important;
    border-top: 1px solid #d259a1 !important;
}
.btn-default {
    color: #d259a1 !important;
    background-color: #fadaed !important;
    border-color: #d259a1 !important;
}
.calenderDiv
{
	border: 1px solid #d259a1;
}
.commentImageStyle
{
	width: 35px;
    height: 35px;
    border-radius: 50%;
}
.commentListStyle
{
	list-style: none;
    margin-left: -20px;
}
.listStyle
{
	list-style: none;
}


body {
  background-color: #f5f5f5;
}

.main.container {
	background: white;
	padding: 20px 20px;
}

.chat {
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70%;
}

.chat .from {
	display: block;
	float: right;
	font-weight: bold;
	color: #777;
}

.chat .from small {
  display:block;
  font-size: 0.6em;
}

.chat .message {
	font-size: 1.6em;
}

.chat.incoming {
	float: left;
	background: #d9edf7;
}

.chat.outgoing {
	float: right;
	background: #eeeeef;
}

.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
}

#main-content {
  max-width: 940px;
  padding: 10px 20px 0px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.table th.number, .table td.number {
  text-align: right;
}

.table td.trade-buttons {
  text-align: center;
}

.table tfoot {
  font-weight: bold;
}